body {background-color: black;}

#scenario {width:1500px;
            height:938px;
            background-image: url(../img/abandoned-haunted-house-refuge-of-spirits-moonlit-royalty-free-image-1633983690.jpg);
            margin: auto;
            position: relative;}

            @font-face {
                font-family: textonormal;
                src: url(../fonts/TornAsunderBB-Regular.otf);
            }

.texto {
    font-family: textonormal;
    font-size: large;    
    color: #FFFFFF;
}

#moon {width: 350px;
        height: 320px;
        /*border: 2px solid purple;*/
        position: absolute; 
        top: 0px;
        right: 170px;
        }
#bats {position: absolute;
        top: 0px;
        left: 0px;
        width: 600px;
        visibility: hidden;
}
#door {width: 45px;
        height: 90px;
        /*border: 2px solid orange;*/
        position: absolute;
        top: 520px;
        left: 680px;
        }
#scary  {position: absolute;
        top: 0px;
        left: 0px;
        width: 1000px;
        visibility: hidden;
}
#window {width: 70px;
        height: 70px;
        /*border: 2px solid red;*/
        position: absolute;
        top: 370px;
        left: 670px;
        }
#gost {position: absolute;
        top: 370px;
        left: 670px;
        width: 200px;
        visibility:hidden;
}
